<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>Address Book-Added a Contact</title>
</head>
<body>
    <div class=container>
        <header>
            <h1>Address Book</h1>
        </header>
        <br>
        <h3>You Added a new Contact!</h3>
        <br>
        <h4>{{new_contact.getName}}</h4>
        <h4>{{new_contact.getNumber}}</h4>
        <h4>{{new_contact.getAddress}}</h4>
        <br>
        <h6><a href="/">View/Add Contacts</a></h6>
    </div>
</body>
