<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>Address Book Home</title>
</head>
<body>
    <div class=container>
        <header>
            <h1>Address Book</h1>
        </header>

        {% if all_contacts is not empty %}
            <h4 id="list_of_contacts">Here is a list of your contacts:</h4>
            <div class="row">
                <div class="col-md-3">
                    <h5><u>Name</u></h5>
                </div>
                <div class="col-md-3">
                    <h5><u>Phone Number</u></h5>
                </div>
                <div class="col-md-4">
                    <h5><u>Address</u></h5>
                </div>
                <div class="col-md-2">
                    <h5><u>Category</u></h5>
                </div>
            </div>
                {% for contact in all_contacts %}
                    <div id="contact_list" class="row">
                        <div class="col-md-3">
                            <h6>{{contact.name}}</h6>
                        </div>
                        <div class="col-md-3">
                            <h6>{{contact.number}}</h6>
                        </div>
                        <div class="col-md-4">
                            <h6>{{contact.address}}</h6>
                        </div>
                        <div class="col-md-2">
                            <h6>{{contact.acquaintance}}</h6>
                        </div>
                    </div>
                {% endfor %}
        {% endif %}

        <div class="well">
            <form id="create_contact" action="/add_a_contact" method="post">
                <h3>Create a New Contact:</h3>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" class="form-control" name="name" type="text" placeholder="Enter a new contact's first and last name">
                </div>
                <div class="form-group">
                    <label for="number">Phone Number</label>
                    <input id="number" class="form-control" name="number" type="text" placeholder="Enter a new contact's phone number">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input id="address" class="form-control" name="address" type="text" placeholder="Enter a new contact's street, city, state and zip code">
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="acquaintance" value="Family" checked>
                        Family
                    </label>
                    <label>
                        <input type="radio" name="acquaintance" value="Friend" checked>
                        Friend
                    </label>
                    <label>
                        <input type="radio" name="acquaintance" value="Work" checked>
                        Work
                    </label>
                </div>
                <br>
                <button class="btn btn-outline-secondary btn-lg" type="submit">Create Contact</button>
            </form>

            <form id="delete_contact" action="delete_all_contacts" method="post">
                <button class="btn btn-outline-danger"type="submit">Delete All Contacts</button>
            </form>
        </div>

    </div>
</body>
