h1 {
    text-align: center;
    font-weight: bolder;
}

header {
    margin-top: 15px;
}

body {
    background-color: #FEFEF2;
    font-family: 'Work Sans', sans-serif;
}

.btn-outline-secondary {
  color: #3D3D3D;
  border-color: #3D3D3D;
}

#delete_contact {
    float: right;
    margin-top: -38px;
}

#list_of_contacts {
    margin-bottom: 15px;
}

.well {
    background-color: #EEEEE4;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}
